@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293D2C;
}

nav {
  margin-top: 25px;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
nav h1 {
  margin-left: 150px;
  font-size: 50px;
  font-weight: normal;
  font-family: "Inter", serif;
}
nav h1 a {
  text-decoration: none;
  font-weight: normal;
  color: #293D2C;
}
nav h1 a:hover {
  text-decoration: underline;
  text-decoration-color: #C1BEA3;
  text-underline-offset: 15px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 150px;
}
nav ul li {
  margin-right: 25px;
}
nav ul li .current-page {
  text-decoration: underline;
}
nav ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: normal;
  color: #293D2C;
}
nav ul li a.current-page {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: #C1BEA3;
}
nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #C1BEA3;
  text-underline-offset: 15px;
}

header {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-family: "Sanchez", cursive;
  font-size: 90px;
  font-weight: normal;
  /*margin-left: 150px;*/
  margin-bottom: 50px;
}
header p {
  font-size: 25px;
  margin-bottom: 50px;
  /*    margin: 0 0 50px 150px;*/
  text-align: center;
}
header .img-section {
  height: 450px;
  width: 100%;
  background-image: url("../images/kurt-cotoaga-FleS9E9K-y8-unsplash.webp");
  background-size: cover;
  background-position: center 62%;
}

main {
  flex-grow: 1;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .cards {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #FBF9E9;
}
main .cards a {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
main .cards a:hover {
  transform: translateY(-25px);
}
main .cards figure {
  background-color: #FFFFFF;
  border: 1px solid #EDF7EF;
  border-radius: 10px;
  height: 350px;
  width: 375px;
}
main .cards figure img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
}
main .cards figure figcaption {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #293D2C;
  font-family: "Sanchez", cursive;
}
main .travel-tips {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
main .travel-tips .faqs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .travel-tips .faqs h1 {
  font-size: 75px;
  font-family: "Sanchez", cursive;
  margin-bottom: 30px;
  font-weight: normal;
}
main .travel-tips .faqs p {
  font-size: 25px;
}
main .travel-tips ul {
  list-style: none;
  font-size: 25px;
  width: 25%;
}
main .travel-tips ul li {
  padding: 10px;
  border-bottom: 1px solid #C1BEA3;
}
main .travel-tips ul li:last-child {
  border-bottom: 0;
}
main .stats {
  width: 100%;
  height: 450px;
  background-color: #EDF7EF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
main .stats h1 {
  font-size: 75px;
  font-family: "Sanchez", cursive;
  margin-bottom: 30px;
  font-weight: normal;
}
main .stats p {
  font-size: 25px;
}
main .stats ul {
  list-style: none;
  font-size: 25px;
  width: 35%;
}
main .stats ul li {
  padding: 10px;
  border-bottom: 1px solid #C1BEA3;
}
main .stats ul li:last-child {
  border-bottom: 0;
}

footer {
  width: 100%;
  height: 45px;
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
