@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primaryGreen: #293D2C;
$primaryTan: #C1BEA3;
$secondaryGreen: #EDF7EF;
$secondaryTan: #FBF9E9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primaryGreen;

}

nav {
  margin-top: 25px;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;


  h1 {
    margin-left: 150px;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Inter', serif;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 150px;

    li {
      margin-right: 25px;

      .current-page {
        text-decoration: underline;
      }


      a {
        text-decoration: none;
        font-size: 25px;
        font-weight: normal;
        color: $primaryGreen;
      }

      a.current-page {
        text-decoration: underline;
        text-underline-offset: 15px;
        text-decoration-color: $primaryTan;
      }

      a:hover {
        text-decoration:underline;
        text-decoration-color: $primaryTan;
        text-underline-offset: 15px;
      }
    }
  }
}

header {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: 'Sanchez', cursive;
    font-size: 90px;
    font-weight: normal;
    /*margin-left: 150px;*/
    margin-bottom: 50px;
  }

  p {
    font-size: 25px;
    margin-bottom: 50px;
/*    margin: 0 0 50px 150px;*/
    text-align: center;
  }

  .img-section {
    height: 450px;
    width: 100%;
    background-image: url("../images/kurt-cotoaga-FleS9E9K-y8-unsplash.webp");
    background-size: cover;
    background-position: center 62%;
  }
}

main {
  flex-grow: 1;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;


  .cards {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $secondaryTan;

    a {
      text-decoration: none;
      transition: transform 0.2s ease-in-out;
    }

    a:hover {
      transform: translateY(-25px);
    }

    figure {
      background-color: #FFFFFF;
      border: 1px solid $secondaryGreen;
      border-radius: 10px;
      height: 350px;
      width: 375px;

      img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 60%;
      }

      figcaption {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: $primaryGreen;
        font-family: 'Sanchez', cursive;
      }
    }
  }


  .travel-tips {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .faqs {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 75px;
        font-family: 'Sanchez', cursive;
        margin-bottom: 30px;
      }

      p {
        font-size: 25px;
      }
    }

    ul {
      list-style: none;
      font-size: 25px;
      width: 25%;

      li {
        padding: 10px;
        border-bottom: 1px solid $primaryTan;
      }

      li:last-child {
        border-bottom: 0;
      }
    }
  }

  .stats {
    width: 100%;
    height: 450px;
    background-color: $secondaryGreen;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


footer {
  width: 100%;
  height: 45px;
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


